.login-wrapper {
  background-color: #1e1e2f;
  color: white;
  display: flex;
  flex-direction: column; /* teraz logo nad panelem */
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-panel {
  background: #2e2e3f;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  width: 300px;
  text-align: center;
}

.login-panel h2 {
  margin-bottom: 20px;
}

.login-input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  background-color: #3e3e5a;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}


.log-button {
  width: 100%;
  padding: 10px;
  background-color: #5566dd;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-logo {
  width: 120px;   /* zmieniasz rozmiar SVG */
  height: auto;
  margin-bottom: 20px;
}

.log-button:hover {
  background-color: #7788ff;
}

.error-text {
  color: #ff6666;
  margin-top: 10px;
}

.mode-switcher {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.mode-switcher button {
  flex: 1;
  padding: 10px 0;
  background-color: #5566dd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.mode-switcher button:hover {
  background-color: #7788ff;
}

.mode-switcher button.active {
  background-color: #3344bb;
}

.card {
  background-color: #3e3e5a;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center; /* logo i tekst na środku */
  margin-bottom: 30px; /* odstęp od panelu logowania */
}

.login-logo {
  width: 400px;
  height: auto;
  margin-bottom: 15px; /* odstęp od napisu */
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 0; /* usuwamy sztuczne odstępy */
}
